<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário de Eventos</title>

    <link rel="stylesheet" href="../../public/styles/create-account-page.css">
</head>
<body>
    <section>
        <div class="createAccountPage-title-div">
            <img src="../../public/assets/calendar.png" alt="Calendário">
            <h1>Calendário de Eventos</h1>
        </div>

        <form action="">
            <fieldset class="group-horizontal">
                <div class="campo campo-esquerda">
                    <label for="name">Nome</label>
                    <input type="text" name="name" id="name" required>
                </div>

                <div class="campo">
                    <label for="last-name">Sobrenome</label>
                    <input type="text" name="last-name" id="last-name" required>
                </div>
            </fieldset>

            <div class="campo">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
            </div>

            <fieldset class="group-horizontal">
                <div class="campo campo-esquerda">
                    <label for="password">Senha</label>
                    <input type="password" name="password" id="password" required>
                </div>

                <div class="campo">
                    <label for="password-confirm">Confirmar Senha</label>
                    <input type="password" name="password-confirm" id="password-confirm" required>
                </div>
            </fieldset>
        </form>

        <button>Criar</button>

        <a href="./login-page.html">Já tem cadastro feito? Clique aqui!</a>
    </section>
</body>
</html>