<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário de Eventos</title>

    <link rel="stylesheet" href="/styles/events-page.css">
</head>
<body>
    <section>
        <header>
            <div class="eventsPage-title-div">
                <img src="/assets/calendar.png" alt="Calendário">
                <h1>Calendário de Eventos</h1>
            </div>

            <a href="/logout" class="logout-btn">Sair</a>
        </header>

        <div class="showEvent" id="eventList">
            <h1>Lista de Eventos de <%= user.name %></h1>

            <% if(thereIsEvents) { %>
                <%- include('parts/events-table') %>
            <% } %>
            <p class="noEventsMessage">Nenhum evento criado</p>
        </div>

        <div class="sendEvent" id="eventEdit">
            <h1>Adicione um Evento</h1>
            <form action="/events" method="POST">
                <div class="row">
                    <div class="campo">
                        <label for="startDate" class="dateTime-label">Data de início</label>
                        <input  type="date" name="startDate" class="dateTime-input" id="datefield" required>
                        
                    </div>
                    <div class="campo">
                        <label for="startTime" class="dateTime-label">Hora de início</label>
                        <input type="time" name="startTime" class="startTime-input" id="hourfield" required>
                    </div>
                </div>
                <div class="row">
                    <div class="campo">
                        <label for="endDate">Data do fim</label>
                        <input type="date" name="endDate" class="dateTime-input" id="datefieldEnd" required>
                    </div>
                    <div class="campo">
                        <label for="endTime">Hora do fim</label>
                        <input type="time" name="endTime" class="startTime-input" id="hourfieldEnd" required>
                    </div>
                </div>
                <div class="row">
                    <div class="campo">
                        <label for="title">Título</label>
                        <input id="title" name="title" type="text" class="dateText" required>
                    </div>
                </div>
                <div class="row">
                    <div class="campo">
                        <label for="description">Description</label>
                        <input id="description" name="description" type="text" class="dateText" required> 
                    </div>
                </div>
                <button id="eventEditSubmit" class="btn-small" type="submit">Enviar</button>
            </form>
        </div>

       <!-- <div id="deleteConfirm" ref="deleteConfirm" class="modal">
            <div class="modal-content">
                <h1>Confirmar exclusão</h1>
                <p>Deletar {{ selectedEvent }}?</p>
            </div>
            <div class="modal-footer">
                <button  class="modal-close">Ok</button>
                <button class="modal-close">Cancel</button>
            </div>
        </div>
      </div> -->
    </section>

    <script>
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        var hour = today.getHours();

        if (dd < 10) {
        dd = '0' + dd;
        }

        if (mm < 10) {
        mm = '0' + mm;
        } 
            
        today = yyyy + '-' + mm + '-' + dd;
        todayHour = hour;
        document.getElementById("datefield").setAttribute("min", today);
        document.getElementById("datefieldEnd").setAttribute("min", today);

        function addZero(i) {
            if (i < 10) {i = "0" + i}
            return i;
        }

        const d = new Date();
        let h = addZero(d.getHours());
        let m = addZero(d.getMinutes());
        let time = h + ":" + m;
        document.getElementById("hourfield").setAttribute("min", time);
        document.getElementById("hourfieldEnd").setAttribute("min", time);
    </script>
</body>
</html>