<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário de Eventos</title>

    <link rel="stylesheet" href="../../public/styles/main-page.css">
</head>
<body>
    <section>
        <img src="../../public/assets/mainImage.jpg" class="main-img" alt="Calendário de Eventos">

        <div class="initialPage-title">
            <div class="initialPage-title-div">
                <img src="../../public/assets/calendar.png" alt="Calendário">
                <h1>Calendário de Eventos</h1>
            </div>
            <a href="./login-page.html">Começar</a>
        </div>
    </section>
</body>
</html>