<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário de Eventos</title>

    <link rel="stylesheet" href="../../public/styles/login-page.css">
</head>
<body>
    <section>
        <div class="loginPage-title-div">
            <img src="../../public/assets/calendar.png" alt="Calendário">
            <h1>Calendário de Eventos</h1>
        </div>

        <form action="">
            <fieldset class="group">
                <div class="campo">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required>
                </div>

                <div class="campo">
                    <label for="password">Senha</label>
                    <input type="password" name="password" id="password" required>
                </div>
            </fieldset>

            <div id="check">
                <input type="checkbox" id="remember" name="remember" value="remember">
                <label for="remember">Lembrar de mim</label><br><br>
            </div>
        </form>

        <button type="submit">Entrar</button>

        <a href="/create-account">Não tem cadastro? Clique aqui!</a>
    </section>
</body>
</html>