@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --light-background: #C3B1FB;
    --dark-background: #7D52C5;
    --light-color: #C3B1FB;
    --dark-color: #7D52C5;
    --warning-color: #FF6080;
    --form-background: #DBC5E5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-background);
    width: 100vw;
    height: 100%;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.eventsPage-title-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 680px;
}

.eventsPage-title-div img{
    width: 69px;
    height: 76px;
    margin-right: 15px;
}

.eventsPage-title-div h1 {
    width: 330px;
    height: 94px;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;

    color: var(--dark-color);
}

.logout-btn {
    width: 100px;
    height: 40px;

    background: var(--dark-background);
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--light-color);
}

.showEvent {
    width: 1194.04px;
    height: 80px;

    margin-top: 20px;
    margin-bottom: 20px;
}

.showEvent p {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 47px;
    margin-top: 20px;

    color: var(--dark-color);
}

.showEvent span {
    width: 1194.04px;
    height: 1px;

    background: var(--dark-color);
    border: 1px solid var(--dark-color);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 20px;  
}
 

.showEvent h1 {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    

    color: var(--dark-color);
}

.showEvent table {
    width: 1194.04px;
    margin-top: 20px;
}

.showEvent th {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: initial;

    color: var(--dark-color);
}

.showEvent td {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    
    color: var(--dark-color);
}

.showEvent .btn-small {
    width: 100px;
    height: 40px;

    background: var(--dark-background);
    border-radius: 15px;
    border: none;

    font-family: Roboto Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--light-color);
    cursor: pointer;
}

.showEvent .th-btn {
    text-align: end;
}

.showEvent .td-btn {
    text-align: end;
}

.sendEvent {
    margin-top: 60px;
}

.sendEvent h1 {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    margin-top: 40px;
    margin-bottom: 20px;

    color: var(--dark-color);
}

.sendEvent .row {
    width: 1194.04px;
    display: flex;
    align-items: center;
    justify-content: initial;
}

.row .campo {
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: center;
}

.row .campo label {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 12px;

    color: var(--dark-color);
}

.row .campo input {
    background: var(--form-background);
    box-shadow: 0px 4px 4px var(--dark-color);
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}

.dateTime-input,
.startTime-input {
    width: 574.66px;
    height: 40px;
}

.dateTime-input {
    margin-right: 40px;
}

.dateText {
    width: 1193px;
    height: 40px;

    background: var(--form-background);
    box-shadow: 0px 4px 4px var(--dark-color);
    border-radius: 10px;
}

.sendEvent .btn-small {
    width: 100px;
    height: 40px;

    background: var(--dark-background);
    border-radius: 15px;
    border: none;

    font-family: Roboto Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--light-color);
    cursor: pointer;
}

@media(max-width: 800px) {
    .eventsPage-title-div {
        margin-right: 0px;
    }


    .eventsPage-title-div img{
        width: 49px;
        height: 56px;
        margin-right: 15px;
    }

    .eventsPage-title-div h1 {
        width: 230px;
        height: 94px;
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 47px;

        color: var(--dark-color);
    }

    .showEvent {
        width: 383.73px;    
    }

    .showEvent table {
        width: 383.73px;
        margin-top: 20px;
        display: flex;
        justify-content: initial;
        align-items: initial;
    }

    .showEvent tr {
        display: flex;
        flex-direction: column;
    }
    

    .showEvent span {
        width: 383.73px;
    }
    
    .showEvent h1 {
        font-family: 'Roboto Mono', monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 27px;
        
    
        color: var(--dark-color);
    }

    .sendEvent h1 {
        font-family: 'Roboto Mono', monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 27px;
        margin-top: 120px;
        margin-bottom: 20px;
    
        color: var(--dark-color);
    }

    .sendEvent .row {
        width: 383.73px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .dateTime-input,
    .startTime-input {
        width: 383.73px;
    }

    .dateTime-input {
        margin-right: 0;
    }

    .dateText {
        width: 383.73px;
    }

    .sendEvent .btn-small {
        margin-bottom: 20px;
    }
}