@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --light-background: #C3B1FB;
    --dark-background: #7D52C5;
    --light-color: #C3B1FB;
    --dark-color: #7D52C5;
    --warning-color: #FF6080;
    --form-background: #DBC5E5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-background);
    width: 100vw;
    height: 100%;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-img {
    width: 820px;
    height: 511px;
    margin-top: 226px;
}

.initialPage-title {
    display: flex;
    justify-content: center;
    align-items: initial;
    flex-direction: column;

    margin-right: 245px;
    margin-left: 45px;
}

.initialPage-title-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 244px;
}

.initialPage-title-div img{
    width: 69px;
    height: 76px;
    margin-right: 15px;
}

.initialPage-title-div h1 {
    width: 330px;
    height: 126px;
    font-family: "Roboto Mono", monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 63px;

    color: var(--dark-color);
}

.initialPage-title a {
    width: 207px;
    height: 100px;
    margin-top: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--dark-background);
    border-radius: 15px;

    font-family: "Roboto Mono", monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    text-decoration: none;

    color: var(--light-color);
}